.profile_form {
	color: rgba(255,255,255,0.9);
	display: table;
	width: 100%;
}

.profile_form label {
	float:left;
	display: block;
	width: 100%;
	height: 22px;
	text-align: right;
	padding: 5px;
	background: rgb(0,0,0);
		 border-radius: 5px 0px 0px 5px;
	  -moz-border-radius: 5px 0px 0px 5px;
	 	-webkit-border-radius: 5px 0px 0px 5px;
}

.form_block {
	position: relative;
	float:left;
	display: table;
	width: 100%;
	background: rgba(60,60,60,0.4);
	text-align: left;
	margin: 1%;
	padding: 5%;
		 border-radius: 10px 10px 10px 10px;
	  -moz-border-radius: 10px 10px 10px 10px;
	 	-webkit-border-radius: 10px 10px 10px 10px;
}

.calendar_block {
	background: rgba(60,60,60,1);
}

.form_light{
	background: rgba(60,60,60,0.62);
}

.form_lighter{
	background: rgba(60,60,60,0.4);
}

.select_block {
    width: 98% !important;
    border: 0px !important;
    overflow: hidden;
}

.select_block select {
    padding: 5px 30px;
    width: 100%;
    border:  0px !important;
    font-size: 15px;
    color: #444;
    box-shadow: none;
    background: transparent;
    background-image: url('../../images/down_arrow.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
    -webkit-appearance: none;
}

.select_block select:focus,
.select_block select:hover,
.select_block:hover {
    outline: none;
    cursor: pointer;
}
 
.full_width{
	/*width: 94%;*/
	margin: 1%;
	padding: 1%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 0px 0px 0px 0px;
	  -moz-border-radius: 0px 0px 0px 0px;
	 	-webkit-border-radius: 0px 0px 0px 0px;
	 box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.addtocart {
	width: 95%;
	position: absolute;
	bottom: 15px;
	left: -10px;
	border-radius: 0px;
	  -moz-border-radius: 0px;
	 	-webkit-border-radius: 0px; 
}

.tabspecs {
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: -4px;
	width: 93.5%;
	position: relative;
	bottom: 15px;
	left: -10px;
	border-radius: 0px;
	  -moz-border-radius: 0px;
	 	-webkit-border-radius: 0px; 
}

.yellow_button {
	background: rgb(255,209,1);
	color: rgba(60,60,60,0.6);
	box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  min-width: 200px;
}

.yellow_button_thumbnail:hover,
.yellow_button_thumbnail_smaller:hover {
	box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.yellow_button_thumbnail {
	background: rgb(255,209,1);
	color: rgba(60,60,60,0.6);
	box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  width: 175px;
  min-width: 175px;
}

.yellow_button_thumbnail_smaller {
	background: rgb(255,209,1);
	color: rgba(60,60,60,0.6);
	box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  width: 75px;
  min-width: 75px !important;
  font-size: 10px !important;
}

.orange_button {
	background: rgb(255,209,1);
	color: #000;
	box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  min-width: 200px;
}

.red_button {
	background: rgb(255,0,0);
	color: rgba(255,255,255,1);
	box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  min-width: 200px;
}

.yellow_button:hover,
.yellow_button_thumbnail:hover,
.yellow_button_thumbnail_smaller:hover,
.grey_button:hover,
.red_button:hover {
	color: #FFF;
}

.grey_button {
	background: rgb(242,242,242);
	color: rgba(60,60,60,0.6);
	box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  min-width: 200px;
}



.textar {
	width: 100%;
	height: 100px;
	margin-right: 2px;
	color: rgb(0, 0, 0);
	/* background: rgba(189,122,112,1); */
	background: rgb(239 239 239 / 77%);
	font-size: 17px;
	border: 1px solid rgba(0,0,0,0.2);
	margin: 1%;
	padding: 0%;
	padding-left: 2%;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.textprestart {
	display: none;
	width: 87%;
	height: 100px;
	max-width: 650px;
	margin-right: 2px;
	color: rgb(163,163,163);
	background: rgb(242,242,242);
	font-size: 17px;
	border: 1px solid rgb(242,242,242);
	margin: 1%;
	padding: 1%;
	padding-left: 2%;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.textar:hover,
.textprestart:hover {
		background: rgba(0,0,0,0.3);
		/*box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
  	-moz-box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
  	-webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.2);*/
}

.fieldpc {
		width: 100%;
		height: 20px;
		float: left;
		margin-right: 2px;
		color: rgb(0, 0, 0);
		/* background: rgba(219,175,147,1); */
		background:rgb(239 239 239 / 77%)	;

		font-size: 15px;
		height: 25px;
		border: 1px solid rgba(0,0,0,0.2);
		margin: 1%;
		padding: 1%;
		padding-left: 2%;
	  -moz-border-radius: 2px;
	 	-webkit-border-radius: 2px;
	 	border-radius: 2px;
}

.redfield{
	color: rgb(255,0,0);
	font-style: bold !important;
}

*:focus {outline:0px none transparent;}
.fieldpc:hover {
		background: rgba(0,0,0,0.3);
		/*box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
  	-moz-box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
  	-webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.2);*/
}

.input_block,
.input_block_up {
	display: table;
	position: relative;
	width: 100%;
	/*max-width: 500px;*/
	min-width: 250px;
	margin-bottom: 10px;
	margin-top: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transition: all 0.3s ease-in-out;
	color: black;
}

.input_block_up {
	margin-top: 25px;
}

.input_block label {
	display: table;
	position: absolute;
	text-align: left;
	top: 30%;
	left: 2%;
	font-size: 16px;
	background: none;
	width: 90%;
	transition: all 0.3s ease-in-out;
}

.input_block_up label {
	display: table;
	position: absolute;
	text-align: left;
	top: -20px;
	left: 2px;
	font-size: 12px;
	color: 292424;
	background: none;
	opacity: 0.5;
	width: 90%;
	transition: all 0.3s ease-in-out;
}

.input_block input,
.input_block_up input {
	display: table;
	width: 100%;
	max-height: 35px;
	min-height: 30px;
	text-align: left;
	border: 1px thin rgba(0,0,0,0.5) !important;
		 border-radius: 0px 0px 0px 0px;
	  -moz-border-radius: 0px 0px 0px 0px;
	 	-webkit-border-radius: 0px 0px 0px 0px;
}

.input_wide label{
	display: table;
	width: 97.5%;
	margin-bottom: 10px;
	 border-radius: 5px 5px 5px 5px;
	  -moz-border-radius: 5px 5px 5px 5px;
	 	-webkit-border-radius: 5px 5px 5px 5px;
	 	text-align: center;
	 	border: 1px solid #FFF;
}

.checkbox {
	display: table;
	float: right;
	text-align: top;
	padding: 0px;
	margin: 0px;
	width: 100%;
	/*border: 1px solid #FFF;*/
}

.button {
	font-size: 1em;
	color: rgba(100,100,100,1);
	font-family:  'Arial', 'Helvetica', sans-serif;
	font-weight:normal;
	background: rgba(255,112,33,1);
	padding: 4px;
	padding-left: 4px;
	padding-right: 4px;
	border: 0px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -moz-border-radius: 3px;
 	-webkit-border-radius: 3px; 
}

.button:hover {
  background: rgba(100,100,100,1);
  color: rgba(255,112,33,1);
  cursor: pointer;
  box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
  -webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
}

@media screen and (max-width: 570px) {
	.full_width{
		width: 94%;
	} 
}

@media screen and (max-width: 475px) {
	.full_width{
		font-size: 15px;
	} 
}